body{
	background:
	#1e3a52;
}
div.heading{
	border:hidden;


	background:#14ab00;
	width: 300px;
	padding:10%;
	margin:auto;


}

div h1{
	color:#FFF;
	font-size:100px;
}

div.c1{
	margin-top:5%;
	width:100%;
	height:500px;
	background:#ff5d00;

}

div.c1 div{
	margin:auto;

}
