<!DOCTYPE html>
<html>
    <head>
        <title>tim's site</title>
        <link rel="stylesheet" href="head.css" type="text/css" />
    </head>
    <body>
        <h1>This works</h1>
    </body>
</html>