<!DOCTYPE html>
<html>
<head>
	<title>Haai daar slaaiblaar</title>
	<link rel="stylesheet" type="text/css" href="assets/home/home.css">
</head>
<body>
	<div>
		<div class ="heading middle">
			<h1>Timon's website</h1>

			<h3>Probeer stuff met die <span>/</span></h3>
			
		</div>

		<div class ="content middle">
			<p>Cool animations coming soon...</p>
		</div>


	</div>
</body>
</html>