<!DOCTYPE html>
<html>
<head>
	<title>Haai daar slaaiblaar</title>
	<link rel="stylesheet" type="text/css" href="assets/home/home.css">
</head>
<body>
	
<div class = "heading"><h1>Timon</h1></div>

<div class = "c1">
	<div>
	<h1>More content on it's way</h1>
	</div>
</div>

</body>
</html>